<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.auth.dao.UserMapper">

    <sql id="userSql">
        id, user_name, account, password, user_age, phone, photo, email, enabled, create_time, update_time
    </sql>

    <select id="login" resultType="user">
        select
        <include refid="userSql"/>
        from sys_user
        where account = #{account}
    </select>

    <select id="listUser" resultType="user">
        select
        <include refid="userSql"/>
        from sys_user
    </select>

    <select id="findUserById" resultType="user">
        select
        <include refid="userSql"/>
        from sys_user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="user">
        insert into sys_user (id, user_name, account, password, user_age, phone, photo, email, create_time, update_time)
        values (#{id}, #{userName} , #{account}, #{password}, #{userAge}, #{phone}, #{photo}, #{email}, now(), now() );
    </insert>

    <update id="updateUserById" parameterType="user">
        update sys_user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userAge != null">
                user_age = #{userAge},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete from sys_user
        where id = #{id}
    </delete>

</mapper>